/* ProductList.css */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }
  
  .product-item {
    flex: 1 0 200px;
    box-sizing: border-box;
    border: solid 1px black;
    margin: 10px;
  }
  
  .product-image {
    width: 60%;
    height: auto;
  }
  