* {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  text-decoration: none;
  width: 100%;
  justify-content: space-between;
  background-color: #1a1a1a;
  margin: 0;
  align-items: center;
}

header button {
  max-width: 10%;
  display: flex;
  justify-content: end;
}

nav {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: #d4af36;
}

nav a:hover {
  color: red;
}

.header-content {
  width: 100%;
  margin: 0 auto; /* Center the content */
  max-width: 1920px; /* Or whatever max-width you want */
  padding: 0 20px; /* Add some padding on the sides */
  display: flex; /* Assuming you want a flexbox layout */
  justify-content: space-evenly;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 16px;
}

.logo {
  width: 100px;
}

.cart-item-count {
  background-color: transparent;
  color: #d4af36;
  margin-left: 4px;
}

.icon-cart {
  background-color: transparent;
  margin-right: 4px;
  padding: 0;
  font-size: 24px;
  color: #d4af36;
}

.icon-cart:hover {
  color: red;
}
