.App {
  text-align: center;
  overflow: hidden;
  background-image: url("../public/DnD-Background-3.webp");

  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffeaa7;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Cart-icon:hover {
  color: grey;
}

.App-link {
  color: #61dafb;
}

section {
  width: 90%;
  display: flex;
  margin: 30px auto 0 auto;
  justify-content: center;
  max-width: 1920px;
}

section p {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  justify-content: center;

  overflow: hidden;
}

section img {
  width: 50%;
  border-radius: 10px;
}

.welcome-message {
  font-family: "Cinzel", serif; /* Applying the fantasy-style font */
  color: #d4af37; /* A golden hue for a majestic look */
  text-shadow: 1px 1px 2px black; /* Shadow for depth */
  margin: 20px;
  padding: 10px;
  border: 2px solid #d4af37; /* Golden border */
  background-color: #1a1a1a; /* Dark background to make the gold pop */
  text-align: center;
  border-radius: 8px; /* Soft rounded corners */
}

.red {
  color: red;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
